aiobotocore==2.5.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aioitertools==0.11.0
aiosignal==1.3.1
amqp==5.1.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope @ file:///Users/ec2-user/ci_py311/appnope_1678317440516/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout==4.0.2
asyncssh==2.13.1
atpublic==3.1.1
attrs==23.1.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
billiard==3.6.4.0
boto3==1.26.76
botocore==1.29.76
Bottleneck @ file:///Users/ec2-user/ci_py311/bottleneck_1678322312632/work
brotlipy==0.7.0
celery==5.2.7
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b64zphacdv/croot/certifi_1683875375103/work/certifi
cffi @ file:///Users/ec2-user/ci_py311/cffi_1678315312775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
comm @ file:///Users/ec2-user/ci_py311/comm_1678317779525/work
configobj==5.0.8
contourpy @ file:///Users/ec2-user/ci_py311/contourpy_1678322361099/work
cryptography @ file:///Users/ec2-user/ci_py311_2/cryptography_1679335457662/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///Users/ec2-user/ci_py311/debugpy_1678317801115/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dictdiffer==0.9.0
diskcache==5.6.1
distro==1.8.0
dpath==2.1.6
dulwich==0.21.5
dvc==2.58.1
dvc-data==0.51.0
dvc-http==2.30.2
dvc-objects==0.22.0
dvc-render==0.5.3
dvc-s3==2.22.0
dvc-studio-client==0.10.0
dvc-task==0.2.1
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock==3.12.0
flake8 @ file:///Users/ec2-user/ci_py311/flake8_1678326404511/work
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2023.5.0
funcy==2.0
gitdb==4.0.10
GitPython==3.1.31
grandalf==0.8
hydra-core==1.3.2
idna @ file:///Users/ec2-user/ci_py311/idna_1678315819133/work
ipykernel @ file:///Users/ec2-user/ci_py311/ipykernel_1678318220696/work
ipython @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cd4ia5pr17/croot/ipython_1680701875298/work
iterative-telemetry==0.0.8
jedi @ file:///Users/ec2-user/ci_py311_2/jedi_1679336327335/work
jmespath==1.0.1
joblib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_dfriz0qjwt/croot/joblib_1685113297703/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter_core @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b82fz_h369/croot/jupyter_core_1679906581737/work
kiwisolver @ file:///Users/ec2-user/ci_py311/kiwisolver_1678322457192/work
kombu==5.2.4
markdown-it-py==2.2.0
matplotlib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_41fhwn4tj9/croot/matplotlib-suite_1679593479845/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///Users/ec2-user/mkl/mkl_random_1682994911338/work
mkl-service==2.4.0
multidict==6.0.4
munkres==1.1.4
nanotime==0.5.2
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==3.1
numexpr @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b50c1js9s/croot/numexpr_1683227065029/work
numpy @ file:///Users/ec2-user/mkl/numpy_and_numpy_base_1682973769567/work
omegaconf==2.3.0
orjson==3.8.14
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.5.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.11.1
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs==3.5.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prompt-toolkit @ file:///Users/ec2-user/ci_py311/prompt-toolkit_1678317707969/work
psutil @ file:///Users/ec2-user/ci_py311_2/psutil_1679337242143/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycodestyle @ file:///Users/ec2-user/ci_py311/pycodestyle_1678324331308/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.2
pyflakes @ file:///Users/ec2-user/ci_py311/pyflakes_1678324357242/work
pygit2==1.12.1
Pygments==2.15.1
pygtrie==2.5.0
pyOpenSSL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19gfn1ib_u/croot/pyopenssl_1678965300171/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PySocks @ file:///Users/ec2-user/ci_py311/pysocks_1678315868424/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///Users/ec2-user/ci_py311/pytz_1678318034461/work
PyYAML==6.0
pyzmq @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_45g440l380/croot/pyzmq_1682697646668/work
requests @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ec2sxfa_zk/croot/requests_1682607519671/work
rich==13.3.5
ruamel.yaml==0.17.30
ruamel.yaml.clib==0.2.7
s3fs==2023.5.0
s3transfer==0.6.1
scikit-learn @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_815xfdnpoa/croot/scikit-learn_1680198756636/work
scipy==1.10.1
scmrepo==1.0.3
seaborn @ file:///Users/ec2-user/ci_py311/seaborn_1678394152964/work
shortuuid==1.0.11
shtab==1.6.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
sqltrie==0.3.1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///Users/ec2-user/ci_py311/statsmodels_1678394299954/work
tabulate==0.9.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tomlkit==0.11.8
tornado @ file:///Users/ec2-user/ci_py311/tornado_1678316833426/work
tqdm==4.65.0
traitlets @ file:///Users/ec2-user/ci_py311/traitlets_1678316097905/work
typing_extensions==4.6.2
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_61c6ppfd7m/croot/urllib3_1680254700568/work
vine==5.0.0
voluptuous==0.13.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wrapt==1.15.0
yarl==1.9.2
zc.lockfile==3.0.post1
